*{
  margin: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.imgIntro{
width: 40vw;
}

.imgBottom{
  width: 100vw;
  }
  
.imgSend{
    width: 3vw;
    margin-left: .5vw;
    }

button{
  background: none;
  border: none;
}

.intro{
  margin-top: 10vw;
  height: 10vw;
}
.text{
  height: 10vw;

}

.greeting{
  color: rgba(221, 26, 26, 1);
}

.form{
  height: 10vw;
}
.bottom{
  margin-top: 5.4vw;
  width: 100%;
}

.input{
  width: 15vw;
  height: 2.5vw;
}

/* ------------------------ */

.pokemonList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.pokemonList .col {
  padding: 20px;
  width: 100%;
}

.pokemonCard img {
  width: 10vw;
}


.pokemonCard {
  text-decoration: none;
  color: #000;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  display: block;
  padding: 10px;
  border-radius: 9px;
  height: 100%;
}